body {
  background-color: black;
  
}

.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.login {
  form {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-top: 248px;
    padding: 48px 36px;
    background-color: red;

    input {
        width: 240px;
      }

      button {
        margin-top: 36px;
      }
      button:hover {
        background-color: black;
        color: white;
        cursor: pointer;
      }
  }
}
